<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Le styles -->
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    <link rel="stylesheet" href="~/Content/fileinput.min.css" />	
    <link rel="stylesheet" href="~/Content/jquery-ui-smoothless-1.11.4.css" />	
    <link rel="stylesheet" href="~/Content/Site.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png" />
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Home/Index">Computer Firm Automatization
                    <br/> Admin Panel</a>
            </div>
            <!--/.navbar-header-->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Hardware<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/InfoHardware/Index"><i class="fa fa-list"></i>
                                <span>Information</span></a></li>
                            <li><a href="/Admin/TypeHardware/Index"><i class="fa fa-list"></i>
                                <span>Categories</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Orders<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/OrdersFirm/Index"><i class="fa fa-list"></i>
                                <span>Company</span></a></li>
                            <li><a href="/Admin/OrdersUser/Index"><i class="fa fa-list"></i>
                                <span>User's</span></a></li>
                        </ul>
                    </li>
                    @if (Roles.GetRolesForUser().Contains("Admin"))
{
                                            <li class="dropdown">
                        <a href="/Admin/UserProfile/Index" class="dropdown-toggle"><i class="fa fa-calendar"></i><span>User's</span></a>

                    </li>
}
                    <li class="dropdown">
                        <a href="/Admin/InfoFirm/Index" class="dropdown-toggle"><i class="fa fa-calendar"></i><span>Provider's</span></a>

                    </li>
                    <li class="dropdown">
                        <a href="/Admin/Home/About" class="dropdown-toggle"><i class="fa fa-calendar"></i><span>About</span></a>

                    </li>
                    <li class="dropdown pull-right">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--/.navbar-collapse-->
    </nav>

    <div class="container" id="body">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>

    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-fileinput/fileinput.min.js"></script>
    @RenderSection("scripts", required: false)
     <!--если браузер не создает специального поля для date, то добавляем datepicker-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-order').datepicker({
                dateFormat: "dd.mm.yy",
                changeMonth: true,
                changeYear: true,
            });

        });

        $(document).on('ready', function () {
            $("#file_upload").fileinput({
                showUpload: false,
                maxFileCount: 1,
            });
        });
    </script>
</body>
</html>
