@model CFA.Models.InfoFirm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>InfoFirm</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
