@model CFA.Models.LocalPasswordModel

<h3>Смена пароля</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма изменения пароля</legend>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.LabelFor(m => m.OldPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.LabelFor(m => m.NewPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary edit-button">Change</button>
            </div>
        </div>
    </fieldset>
}
